/* Header */
body{
	background-color: #EEEEEE;
}

.nav-header{
	background-color: #FFE600;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.8rem 0;
}

.nav-container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 75%;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
}

.nav-logo{
	display: flex;
    margin: 0 1.5625rem 0 0;
}

.nav-search-container{
	position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.nav-search{
	background-color: #FFFFFF;
    border: 0;
    border-radius: 0.2rem;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    outline: 0;
    padding: 0.5rem;
    width: 1%;
	position: relative;
	flex: 1 1 auto;
	padding-left: 0.8rem;
}

.nav-search-append{
	display: flex;
	margin-left: -1px;
}

.nav-search-append > button {
	outline: 0;
	background-color: #EEEEEE;
	border-radius: 0 0.2rem 0.2rem 0;
	padding: 0 0.625rem;
}

.nav-search-append > button:hover {
	background-color: #D5D5D5;
}

/* Content Home */
.content-container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 75%;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: auto;
	margin-right: auto;
}

.content-box {
	width: 100%;
    margin-top: 20px;
    border-radius: 0.2rem;
}
@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
