/* Header */
body{
	background-color: #EEEEEE;
	color: #333333;
	font-family: Helvetica, Arial, sans-serif;
}

.nav-header{
	background-color: #FFE600;
	align-items: center;
	justify-content: center;
}

.nav-container{
	align-items: center;
	justify-content: center;
}

.nav-logo{
    margin: 0 1.5625rem 0 0;
}

.nav-search-container{
    align-items: stretch;
}

.nav-search{
	background-color: #FFFFFF;
    border: 0;
    border-radius: 0.2rem;
    font-size: 1.1rem;
    outline: 0;
    width: 1%;
}

.nav-search-append > button {
	background-color: #EEEEEE;
	border-radius: 0 0.2rem 0.2rem 0;
	padding: 0 0.625rem;
}

.nav-search-append > button:hover {
	background-color: #D5D5D5;
}

/* Content Home */
.content-container{
	align-items: center;
	justify-content: center;
}

.content-box{
    border-radius: 0.2rem;
}

/* Content Result */

.card-thumbnail{
	height: 180px;
	width: 180px;
	max-height: 180px;
	max-width: 180px;
	border-radius: 4px;
	outline: none;
}

.card-thumbnail > a > img{
	object-fit: contain;
}

.card-address > p{
	color: #999999;
}

.content-divisor{
	background: #EEEEEE;
}

/* BreadCrumb */
.breadcrumb-span{
	color: #999999;
}

.breadcrumb-span > i{
	color: #999999;
}

/* Item */
.item-picture{
	flex: 1 1 70%
}

.item-picture > img{
	object-fit: cover;
	max-width: 42.5rem;
}

.item-details{
	flex: 1 1 30%
}

.item-details-sale{
	color: #666666;
}

.item-details-title{
	color: #333333;
}

.item-purchase-button{
	background-color: #3483FA;
	border-radius: 4px;
	border: 0;
	color: #FFFFFF;
	font-size: 1rem;
	cursor: pointer;
	outline: 0;
}

@media(max-width:768px) {
	/* Content Result */
	.content-container{
		margin-top: 2rem;
	}

	.product-details{
		width: 100% !important;
	}

	.product-price > a > p{
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	.product-title > p{
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.card-address{
		display: none;
	}

	/* Breadcrumb */
	.breadcrumb-container{
		display: none !important;
	}

}

@media(max-width:900px) {
	.item-content{
		flex-direction: column;
	}

	.item-details{
		order: 0 !important;
		flex-direction: column;
		display: flex;
		align-items: center;
		margin-bottom: 16px;
	}

	.item-picture{
		order: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
